.default .component {
  border-color: #4d4d4d;
}
.default .component__heading {
  color: #666;
}
.default .component__list-item {
  background: #d9d9d9;
}

[data-theme='default'] {
  background: #666;
}
[data-theme='default']:hover {
  background: #4d4d4d;
}
[data-theme='default'][disabled] {
  background: #666666;
}

.banana .component {
  border-color: #c29d0b;
}
.banana .component__heading {
  color: #f1c40f;
}
.banana .component__list-item {
  background: #fef9e8;
}

[data-theme='banana'] {
  background: #f1c40f;
}
[data-theme='banana']:hover {
  background: #c29d0b;
}
[data-theme='banana'][disabled] {
  background: #bea542;
}

.cherry .component {
  border-color: #962d22;
}
.cherry .component__heading {
  color: #c0392b;
}
.cherry .component__list-item {
  background: #f7ddda;
}

[data-theme='cherry'] {
  background: #c0392b;
}
[data-theme='cherry']:hover {
  background: #962d22;
}
[data-theme='cherry'][disabled] {
  background: #915f5a;
}

.blueberry .component {
  border-color: #703688;
}
.blueberry .component__heading {
  color: #8e44ad;
}
.blueberry .component__list-item {
  background: #efe3f4;
}

[data-theme='blueberry'] {
  background: #8e44ad;
}
[data-theme='blueberry']:hover {
  background: #703688;
}
[data-theme='blueberry'][disabled] {
  background: #7a747d;
}

.leaf .component {
  border-color: #1e8449;
}
.leaf .component__heading {
  color: #27ae60;
}
.leaf .component__list-item {
  background: #c8f3da;
}

[data-theme='leaf'] {
  background: #27ae60;
}
[data-theme='leaf']:hover {
  background: #1e8449;
}
[data-theme='leaf'][disabled] {
  background: #528367;
}

.nightsky .component {
  border-color: #20638f;
}
.nightsky .component__heading {
  color: #2980b9;
}
.nightsky .component__list-item {
  background: #d2e7f5;
}

[data-theme='nightsky'] {
  background: #2980b9;
}
[data-theme='nightsky']:hover {
  background: #20638f;
}
[data-theme='nightsky'][disabled] {
  background: #56778c;
}

.component {
  background: #EFEFEF;
  padding: 1em;
  margin-bottom: 1em;
  border-top: .5em solid;
}
.component__list {
  list-style: none;
  padding: 0;
  overflow: hidden;
}
.component__list-item {
  float: left;
  width: 24%;
  height: 10em;
  margin-right: 1%;
}

.controls > button {
  border: none;
  color: white;
  padding: .5em;
  border-radius: .15em;
  font-weight: bold;
  margin-bottom: .5em;
}

body {
  padding: 1em;
}

* {
  box-sizing: border-box;
}

.credit {
  font-size: .8em;
  padding-top: 1.2em;
}

.credit a {
  color: #444;
}
